<html class="" lang="en"><head>

  <meta charset="UTF-8">
  <title>IRIS 演示</title>

  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&amp;display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/css/atlantis.css">
  <link rel="stylesheet" href="/static/assets/css/demo.css">
  <link rel="icon" href="/static/assets/img/logo.ico" type="image/x-icon"/>
  <script defer data-domain="v200.beta.dfir-iris.org" src="https://analytics.dfir-iris.org/js/plausible.js"></script>

</head>
  <body class="landing-demo">
  	<div class="ml-1 row justify-content-center mr-1">
        <div class="col-xl-8">
        <div class="card mt-3">
            <div class="mt-4">
                <div class="col d-flex justify-content-center">
                    <a href="/" class="logo ml-2 text-center">
                        <img src="/static/assets/img/logo-full-blue.png" alt="navbar brand" width="300rem">
                    </a>
                </div>
            </div>
            <div class="row">
                <h4 class="ml-auto mr-auto"><span class="text-danger">共享的</span> 演示实例 {{ iris_version }}</h4>
             </div>
             <div class="row">
                 <h5 class="text-muted ml-auto mr-auto"><i>试用 IRIS，查找错误和安全漏洞</i></h5><br/>
             </div>

             <div class="row mt-4">
             </div>
            <div class="row mt-4">
            </div>
            <div class="row mt-2 mb-4">
                <div class="col-md-1 col-lg-2"></div>
                <div class="col-md-10 col-lg-8 ml-4">
                    <h3 class=" ml-auto mr-auto">请仔细阅读以下内容</h3><br/>
                    <ul>
                        <li><b>请勿上传任何非法或机密资料</b></li>
                        <li><b>不要盲目下载和打开其他用户的文件</b></li>
                        <li><b>如果发现漏洞，遵守 30 天内<a class="text-muted" target="_blank" rel="noopener noreferrer" href="https://cheatsheetseries.owasp.org/cheatsheets/Vulnerability_Disclosure_Cheat_Sheet.html#responsible-or-coordinated-disclosure">负责任地披露</a>
                        
                        </b></li>
                    </ul>
                    <b>不知道 IRIS 是什么？您可以在主网<a target="_blank" rel="noopener" href="https://dfir-iris.org">上找到更多信息</a></b>
                </div>
                <div class="col-md-1 col-lg-2"></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-1 col-lg-2"></div>
                <div class="col-md-10 col-lg-8 ml-4 mr-3">
                    <p class="">页面底部提供了访问实例的账户。如果它们不起作用，请检查复制时是否有尾部空格。 <br/>
                    IRIS 未对手机进行优化。我们建议使用电脑访问。<br/>
                    如果您发现任何可疑之处或有任何疑问，请 <a href="mailto:contact@dfir-iris.org">联系我们</a>. <br/>请注意，实例随时可能被重置。</p>

                    <p><i>访问本实例即表示您已阅读、理解并同意本页面上的所有信息。</i></p>
                </div>
                <div class="col-md-1 col-lg-2"></div>
            </div>
            <div class="row mt-4 mb-4 mr-2">

                   <a class="btn btn-outline-success ml-auto mr-auto" target="_blank" rel="noopener" href="/login">
                            访问 IRIS
                   </a>
            </div>
            <div class="row mt-4 mb-4 mr-2 justify-content-center">
                <div class="ml-mr-auto">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSecRules" aria-expanded="false" aria-controls="collapseSecRules">
                    参与规则
                  </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseLiability" aria-expanded="false" aria-controls="collapseLiability">
                    声明
                  </button>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAccounts" aria-expanded="false" aria-controls="collapseAccounts">
                    账户
                  </button>
                </div>
            </div>
            <div class="row mt-4 mb-4 mr-2 justify-content-center">
                <div class="col ml-4">
                    <div class="collapse" id="collapseLiability">
                        <div class="card card-body">
                            <h3 class="mt-2">声明</h3>
                            DFIR-IRIS 是一个非营利组织。对于因使用本网站及其所含任何材料，或因使用本网站而采取的任何行动或作出的任何决定而造成的任何损害，本组织概不负责。<br/>
                            对于与本网站链接的任何外部网站的内容，本网站概不负责。<br/> 使用本网站即表示您承认本网站上发布的内容是公开的，DFIR-IRIS 无法保证在本网站上披露的任何信息的安全性；您需自行承担披露风险。

                            <h4 class="mt-2">隐私政策</h4><br/>
                            <p>该演示实例是共享的，我们无法保证您上传的数据的私密性。我们不对任何数据丢失或数据泄露负责。</p>
                            <p>为了更好地了解本实例的使用情况，DFIR-IRIS 使用了隐私友好的无 cookie 分析。DFIR-IRIS 不收集任何个人数据。DFIR-IRIS 不使用任何第三方分析，并使用自托管的<a target="_blank" rel="noopener" href="https://plausible.io/">Plausible </a>实例。</p>
                        </div>
                    </div>
                    <div class="collapse" id="collapseSecRules">
                      <div class="card card-body">
                        <h3 class="mt-2">参与规则</h3>
                          <p class=""><b>如果发现漏洞</b>, <a href="mailto:contact@dfir-iris.org">请联系我们</a> 因为这可能会影响已投入生产的系统。<br/>
                            换句话说，请尊重 30 天的负责任披露. 我们会打补丁，然后公布漏洞. 根据发现的情况，我们可能会要求提供 CVE，其中会有您的名字--除非您不愿意。<br/>
                            您可以在以下网址报告您发现的任何情况<a href="mailto:contact@dfir-iris.org">contact@dfir-iris.org</a>.</p>
                        <p class=""><b>安全测试的范围</b> 仅限于IRIS Web应用在<a class="" target="_blank" rel="noopener" href="{{ demo_domain }}">{{ demo_domain }}</a>.<br/>
                           <span class="text-danger">子域、SSH、IP 扫描、BF 和其他功能都是 <b>范围外.</b></span></p>
                          我们主要对以下方面感兴趣:
                        <ul>
                            <li><b>authentication bypass</b>: achieve any action requiring an authentication without being authenticated. <span class="text-danger">Brute-force is not what we are looking for</span></li>
                            <li><b>privilege escalations within the application</b>: from a standard user (<code>user_std_XX</code>) to administrative rights (<code>adm_XX</code>) on IRIS</li>
                            <li><b>privilege escalations on the host server</b>: from a standard user (<code>user_std_XX</code>) to code execution on the server</li>
                            <li><b>data leakage</b>: from a standard user (<code>user_std_XX</code>) read data of non-accessible cases (titled <code>Restricted Case XXX</code>)</li>
                        </ul>
                        <h3>Important Remarks</h3>
                          <ul>
                              <li>If you can, use a local instance of IRIS instead of this one. It only takes a few minutes to <a  target="_blank" rel="noopener" href="https://docs.dfir-iris.org/getting_started/">get it on docker.</a></li>
                              <li>The administrators account can publish stored XSS on the platform via <a  target="_blank" rel="noopener" href="https://docs.dfir-iris.org/operations/custom_attributes/">Custom Attributes</a>. This is an operational requirement and not recognized as a vulnerability.</li>
                              <li><b>Try not to be destructive.</b> If you manage to run code on the host server, do not try to go further.</li>
                          </ul>
                        <h3>Restrictions</h3>
                          To keep this demo instance alive, there are some restrictions put in place.
                          <ul>
                              <li>The <code>administrator</code> account cannot be updated nor deleted.</li>
                              <li>The accounts available on this page cannot be updated nor deleted.</li>
                              <li>File upload in datastore is limited to 200KB per file.</li>
                          </ul>
                        <h3>Resources</h3>
                          <p>You can read more about IRIS on the <a target="_blank" rel="noopener" href="https://docs.dfir-iris.org">official documentation website</a>.<br/>
                          IRIS is an open source app, so you can directly access the code on <a target="_blank" rel="noopener" href="https://github.com">GitHub</a>.</p>
                      </div>
                    </div>
                    <div class="collapse" id="collapseAccounts">
                      <div class="card card-body">
                        <h3 class="mt-2">Accounts</h3>
                          The following accounts are available on the instance. These users cannot be updated or deleted. However, new users and groups can be created.<br/>
                          <b class="text-danger">If the passwords are not working, please double-check spaces were not added while copying.</b>
                          <table class="table table-striped table-hover responsive">
                              <thead>
                                    <tr>
                                        <th>用户名</th>
                                        <th>密码</th>
                                        <th>角色</th>
                                    </tr>
                              </thead>
                              <tbody>
                                {% for user in demo_users %}
                                    <tr>
                                        <td>{{ user.username }}</td>
                                        <td><code>{{ user.password }}</code></td>
                                        <td>{{ user.role }}</td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
  </body>
    <script src="/static/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="/static/assets/js/core/bootstrap.min.js"></script>
</html>
