<div class="modal-xl modal-dialog" role="document">
    <div class="modal-content" id="modal_access_control_content">
        <div class="modal-header">
            <div class="row w-100 d-flex justify-content-center">
                <h4 class="modal-title ml-4 mt-3">{% if not user.user_id %} 添加用户 {% else %} 编辑用户 {% endif %}</h4>

                <div class="col">
                    {% if user.user_id %}
                    <ul class="nav nav-pills nav-default justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="pill" href="#user_details_tab" role="tab" aria-controls="user_details_tab" aria-selected="false">信息</a>
                        </li>

                        <li class="nav-item submenu">
                            <a class="nav-link"  data-toggle="pill" href="#user_permissions_tab" role="tab" aria-controls="user_permissions_tab" aria-selected="false">权限</a>
                        </li>

                        <li class="nav-item submenu">
                            <a class="nav-link"  data-toggle="pill" href="#user_groups_tab" role="tab" aria-controls="user_groups_tab" aria-selected="false">组</a>
                        </li>

                        <li class="nav-item submenu">
                            <a class="nav-link"  data-toggle="pill" href="#user_clients_tab" role="tab" aria-controls="user_clients_tab" aria-selected="false">客户</a>
                        </li>

                        <li class="nav-item submenu">
                            <a class="nav-link"  data-toggle="pill" href="#user_cac_tab" role="tab" aria-controls="user_cac_tab" aria-selected="false">案例访问</a>
                        </li>

                    </ul>
                    {% endif %}
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
        </div>
        <div class="modal-body">
            <div role="tabpanel">
                <div class="tab-content">
                    <div class="tab-pane active" id="user_details_tab">
                        <div class="container col-md-12">
                            <form method="post" action="" id="form_new_user">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    {{ form.hidden_tag() }}
                                    {% if not user.user_id %}
                                        <p class="ml-3"><i class="fa-solid fa-circle-info mr-2"></i>创建用户后，即可设置权限和群组成员资格.</p>
                                    {% endif %}
                                    {% if user.user_is_service_account %}
                                        <p class="ml-3 text-warning-high"><i class="fa-solid fa-circle-info mr-2"></i>这是一个服务账户。它不能交互登录，也没有密码.</p>
                                    {% endif %}
                                    <div class="form-group">
                                        <label for="user_name" class="mr-4">全名
                                        </label>
                                        {{ form.user_name(class='form-control',  autocomplete="off") }}
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="user_login" class="placeholder">登录</label>
                                        {{ form.user_login(class='form-control',  autocomplete="off") }}
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="user_email" class="placeholder">Email</label>
                                        {{ form.user_email(class='form-control',  autocomplete="off") }}
                                    </div>
                                     {% if not user.user_is_service_account %}
                                    <div class="form-group mt-3" id="formGroupUserPassword">
                                        <label for="user_pwd" class="placeholder">密码 (服务账户可选)</label>
                                        <ul>
                                            <li><small>至少包含{{ server_settings.password_policy_min_length }} 个字符</small></li>
                                            {% if server_settings.password_policy_upper_case %}
                                                <li class="text-sm"><small>必须至少包含一个大写字母</small></li>
                                            {% endif %}
                                            {% if server_settings.password_policy_lower_case %}
                                                <li class="text-sm"><small>必须至少包含一个小写字母</small></li>
                                            {% endif %}
                                            {% if server_settings.password_policy_digit %}
                                                <li class="text-sm"><small>必须至少包含一个数字</small></li>
                                            {% endif %}
                                            {% if server_settings.password_policy_special_chars %}
                                                <li class="text-sm"><small>必须包含以下至少一项 : {{ server_settings.password_policy_special_chars }}</small></li>
                                            {% endif %}
                                        </ul>

                                        <div class="input-group mb-3">
                                            {{ form.user_password(class='form-control', autocomplete="off") }}
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <div class="user_show_password" id="toggle_user_password"><i class="fa-solid fa-eye"></i></div>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                    {% endif %}
                                    {% if not user.user_id %}
                                    <div class="form-group mt-3">

                                        <div class="form-check">
                                            <label class="form-check-label mt-3" >
                                                {{ form.user_is_service_account(class="form-check-input", type="checkbox") }}
                                                <span class="form-check-sign" id="formCheckIsServiceAccount">  作为服务账户使用
                                                    <i class="ml-1 mt-1 fa-regular fa-circle-question" title="如果选中，用户将不会出现在归属建议中，也无法在用户界面上连接" style="cursor:pointer;"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if user.user_id %}
                                        <div class="form-group mt-3">
                                            <label for="user_id" class="placeholder">用户 ID</label>
                                            <input autocomplete="off" class="form-control" type="text" value="{{ user.user_id }}" disabled>
                                        </div>
                                        <div class="form-group mt-3">
                                            <label for="user_uuid" class="placeholder">用户 UUID</label>
                                            <input autocomplete="off" class="form-control" type="text" value="{{ user.user_uuid }}" disabled>
                                        </div>
                                        <div class="form-group mt-3">
                                            <label for="userApiKey" class="placeholder">用户 API 密钥</label>
                                            <div class="input-group">
                                                <input autocomplete="off" class="form-control" type="text" value="{{ user.user_api_key }}" id="userApiKey" disabled>
                                                <div class="input-group-append">
                                                    <button class="btn btn-sm btn-dark" type="button" onclick="renew_api_for_user({{ user.user_id }})">更新</button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                {% if user.user_id %}
                                    <button type="button" class="btn btn-danger mt-5"
                                    onclick="delete_user('{{ user.user_id }}');">删除</button>
                                    {% if user.user_active %}
                                    <button type="button" class="btn btn-outline-danger mt-5"
                                    onclick="deactivate_user('{{ user.user_id }}');">停用</button>
                                    {% else %}
                                    <button type="button" class="btn btn-outline-success mt-5"
                                    onclick="activate_user('{{ user.user_id }}');">激活</button>
                                    {% endif %}

                                    <button type="button" class="btn btn-outline-success ml-1 mt-5 float-right"
                                    id="submit_new_user">更新</button>

                                    <button type="button" class="btn btn-dark mt-5 float-right"
                                    onclick="refresh_user_ac('{{ user.user_id }}');" id="users_refresh_ac_btn">刷新访问</button>

                                {% else %}

                                    <button type="button" class="btn btn-outline-success ml-4 mt-5 float-right"
                                    id="submit_new_user">保存</button>

                                {% endif %}
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane" id="user_permissions_tab">
                        <div class="container col-md-12">
                            <p class="mb-4"><i class="fa-solid fa-circle-info mr-2"></i>权限由用户所属的组继承。下表显示了用户在平台上拥有的有效权限。</p>
                            <table class="table table-striped" id="user_permissions_table">
                                <thead>
                                    <tr>
                                        <th>权限</th>
                                        <th>值</th>
                                        <th>从组继承</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for perm in user.user_permissions %}
                                    <tr>
                                        <td>{{ user.user_permissions[perm].name }}</td>
                                        <td>0x{{ perm | int(perm,16) }}</td>
                                        <td>{% for group in user.user_permissions[perm].inherited_from %}<span class="badge ml-2 badge-light">{{ group }}</span>{% endfor %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="user_groups_tab">
                        <div class="row">
                            <div class="container col-md-12">
                                <span class="ml-2 mt-3">用户所属的组.</span>
                                <button class="btn btn-dark btn-sm pull-right mr-2" onclick="manage_user_groups({{ user.user_id }});">
                                    <span class="menu-title">管理</span>
                                </button>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="container col-md-12">
                                <table class="table table-striped" id="user_groups_table">
                                    <thead>
                                        <tr>
                                            <th>组名</th>
                                            <th>组ID</th>
                                            <th>组UUID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for group in user.user_groups %}
                                        <tr>
                                            <td>{{ group.group_name }}</td>
                                            <td>{{ group.group_id }}</td>
                                            <td>{{ group.group_uuid }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="user_clients_tab">
                        <div class="row">
                            <div class="container col-md-12">
                                <span class="ml-2 mt-3">用户所属的客户.</span>
                                <button class="btn btn-dark btn-sm pull-right mr-2" onclick="manage_user_clients({{ user.user_id }});">
                                    <span class="menu-title">管理</span>
                                </button>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="container col-md-12">
                                <table class="table table-striped" id="user_clients_table">
                                    <thead>
                                        <tr>
                                            <th>客户</th>
                                            <th>客户 ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for customer in user.user_customers %}
                                        <tr>
                                            <td>{{ customer.customer_name }}</td>
                                            <td>{{ customer.customer_id }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="user_cac_tab">
                        <div class="container col-md-12" >
                              <div class="row d-flex mb-4">
                                <div class="col-8">
                                    <span>案例访问权限通常是从组的成员资格中继承的。这里不显示。该选项卡允许在必要时添加细粒度的案例访问权限.</span>
                                </div>
                                <div class="col-4 pull-right">
                                    <button class="btn btn-dark btn-sm pull-right" onclick="refresh_user_cac({{ user.user_id }});">
                                        <span class="menu-title">刷新</span>
                                    </button>
                                    <button class="btn btn-dark btn-sm pull-right mr-2" onclick="manage_user_cac({{ user.user_id  }});">
                                        <span class="menu-title" id="manage_user_cac_button">设置案例访问</span>
                                    </button>
                                </div>
                              </div>
                            <div class="row mt-4">
                              <table class="table display table-striped table-hover responsive" width="100%" cellspacing="0" id="user_cac_table" >
                                <thead>
                                  <tr>
                                      <th>案例 ID</th>
                                      <th>案例名称</th>
                                      <th>访问</th>
                                  </tr>
                                </thead>
                                <tfoot>
                                  <tr>
                                    <th>案例 ID</th>
                                    <th>案例名称</th>
                                    <th>访问</th>
                                  </tr>
                                </tfoot>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('#toggle_user_password').on('click', function (e) {
                const type = $('#user_password').attr('type') === 'password' ? 'text' : 'password';
                $('#user_password').attr('type', type);
                $('#toggle_user_password > i').attr('class', type === 'password' ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash');
            });

            $('#user_permissions_table').dataTable({
                "order": [[ 1, "asc" ]]});
            $('#user_clients_table').dataTable({
                "order": [[ 1, "asc" ]]});
            $('#user_groups_table').dataTable({
                "order": [[ 1, "asc" ]],
                "columns": [{
                    "title": "组名",
                    "render": function ( data, type, row, meta ) {
                        if (type === 'display' ) {
                            return `<i class="fa-solid fa-trash-can mr-2 text-danger" style="cursor:pointer;" title="从组移除" href="javascript:void(0)" onclick="remove_member_from_group_wrap('${row[1]}','{{ user.user_id }}')"></i>${sanitizeHTML(data)}`;
                        }
                        return data;
                    }},
                    {"title": "组 ID"},
                    {"title": "组 UUID"}
                    ]
                });

            var modal_user_cac_table = $("#user_cac_table").DataTable({
                dom: 'Blfrtip',
                aaData: [],
                aoColumns: [
                  {
                    "data": "case_id",
                    "render": function ( data, type, row ) {
                        return `<i class="fa-solid fa-trash-can mr-2 text-danger" style="cursor:pointer;" title="移除案例访问" href="javascript:void(0)" onclick="remove_case_access_from_user('{{ user.user_id }}',${data})"></i>${data}`;
                    },
                    "className": "dt-center"
                },
                {
                    "data": "case_name",
                    "className": "dt-center",
                    "render": function (data, type, row) {
                        return `<a target="_blank" rel="noopener" href="/case?cid=${row.case_id}">${sanitizeHTML(data)}</a>`;
                    }
                },
                {
                    "data": "access_level_list",
                    "render": function ( data, type, row ) {
                        ret_data = "";
                        for (acc in data) {
                            ret_data += `<span class="badge ml-2 badge-light">${data[acc].name}</span>`
                        }
                        return ret_data;
                    },
                    "className": "dt-center"
                }
                ],
                filter: true,
                info: true,
                ordering: true,
                processing: true,
                select: true
        });

        var actionOptionsUser = {
            classes: [],
            contextMenu: {
                enabled: true,
                isMulti: true,
                xoffset: -10,
                yoffset: -10,
                headerRenderer: function (rows) {
                    if (rows.length > 1) {
                        return rows.length + ' 项目已选择';
                    } else {
                        let row = rows[0];
                        return '快捷操作';
                    }
                },
            },
            buttonList: {
                enabled: false,
            },
            deselectAfterAction: true,
            items: [],
        };

        actionOptionsUser.items.push({
                    type: 'option',
                    title: '移除访问',
                    multi: true,
                    iconClass: 'fas fa-trash',
                    buttonClasses: ['btn', 'btn-outline-primary'],
                    action: function(rows){
                        remove_cases_access_from_user_table('{{ user.user_id }}', rows);
                    }
                });
        modal_user_cac_table.contextualActions(actionOptionsUser);

        {% if user.user_id %}
            current_user_cases_access_list = {{ user.user_cases_access|tojson }};
            modal_user_cac_table.rows.add(current_user_cases_access_list);
            modal_user_cac_table.columns.adjust().draw();
        {% endif %}

        </script>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
