<div class="modal-header">
    <h4>添加模块</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

        <div class="container col-md-12">
        <form method="post" action="" id="form_new_module">
            <div class="col-md-12 col-lg-12 col-sm-12">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    <h3>模块扩展</h3>
                    <p>Iris 可通过兼容模块进行扩展。模块是 pip 包，提供特定接口，允许 Iris 与模块通信。请在下面输入已安装的 pip 包名称.</p>
                    <p>Ex: iris_evtx</p>
                    <i class="">提示：您可以按照以下方法开发自己的模块 <a target=”_blank” href="https://docs.dfir-iris.org/development/modules/" >此链接</a></i>
                    <div class="mt-4">
                      <strong class="text-danger">注意 :</strong> 模块的信任级别与 Iris 相同。因此它们可以访问存储在 Iris 中的所有信息，并在服务器上运行代码。请谨慎安装模块，并在安装前对其进行审查.
                    </div>
                    <label for="module_name" class="mr-4 mt-3">模块名称</label>
                    {{ form.module_name(class='form-control',  autocomplete="off") }}
                    <div class="alert-std alert-warning" style="display:none;" role="alert" id="alert_mod_add">
                    </div>
                    <div class="alert-std alert-warning" style="display:none;" role="alert" id="alert_mod_details">
                        <b>日志</b>
                        <ul id="details_list">
                        </ul>
                    </div>
                </div>

                <button type="button" class="btn btn-outline-success ml-4 mt-5 float-right"
                id="submit_new_module">验证模块</button>

        </form>
    </div>

</div>
