<div class="modal-header">
    <h4>添加报告模板</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

        <div class="container col-md-12">
        <form method="post" action="" id="form_new_report_template" enctype="multipart/form-data">
            <div class="col-md-12 col-lg-12 col-sm-12">
                {{ form.hidden_tag() }}
                <div class="form-group mt-3">
                    <label for="report_name" class="placeholder">模板名称</label>
                    {{ form.report_name(class='form-control',  autocomplete="off") }}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            <label for="report_type" class="mr-4">模板类型
                            </label>
                            {{ form.report_type(class='form-control',  autocomplete="off") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            <label for="report_language" class="mr-4">模板语言
                            </label>
                            {{ form.report_language(class="selectpicker pl--6 col-md-12") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="report_description" class="placeholder">模板描述</label>
                    {{ form.report_description(class='form-control',  autocomplete="off") }}
                </div>
                <div class="form-group ml--2">
                    {{ form.report_language(class="selectpicker pl--6") }}
                </div>
                <div class="form-group mt-3">
                    <label for="report_name_format" class="placeholder">模板名称格式</label>
                    <br/>这是生成的报告文件的名称.请勿输入扩展名.
                    可用标签:
                    <ul>
                        <li>%date% : 生成日期</li>
                        <li>%customer% : 客户名称</li>
                        <li>%case_name% : 案例名称</li>
                        <li>%code_name%: 自动生成的企业代码名称</li>
                    </ul>
                    Example: <i>analysis_%customer%_%date%</i>

                    {{ form.report_name_format(class='form-control',  autocomplete="off") }}
                </div>
                <div class="form-group mt-3">
                    <label for="report_name_format" class="placeholder">模板文件 : </label>
                        <input type=file name=file>
                </div>

            {% if report_template.asset_id %}
                <button type="button" class="btn btn-outline-danger mt-5"
                onclick="delete_report_template('{{ assettype.asset_id }}');">删除</button>
                <button type="button" class="btn btn-outline-success ml-4 mt-5 float-right"
                id="submit_new_report_template">更新</button>

            {% else %}

                <button type="submit" class="btn btn-outline-success ml-4 mt-5 float-right"
                id="submit_new_report_template">保存</button>

            {% endif %}
        </form>
    </div>

</div>
