<div class="modal-header">
    <h4>{{ data.module_human_name|unquote }} - 模块信息</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="container col-6">
            <div class="form-group">
                <label>名称 :</label>
                <span type="text" class="">{{ data.module_human_name|unquote }}</span>
            </div>
            <div class="form-group mt--3">
                <label>描述 :</label>
                <span type="text" class="">{{ data.module_description }}</span>
            </div>
            <div class="form-group mt--3">
                <label>目标包 :</label>
                <span type="text" class="text-faded">{{ data.module_name }}</span>
            </div>
            <div class="form-group mt--3">
                <label>添加日期 :</label>
                <span type="text" class="text-faded">{{ data.date_added }}</span>
            </div>
           {% if not is_configured %}
            <div class="form-group">
                <b class="text-danger">由于未设置强制参数，模块被自动禁用.</b>
            </div>
            {% endif %}
        </div>
        <div class="container col-6">
            <div class="form-group">
                <label>模块版本 :</label>
                <span type="text" class="text-faded">{{ data.module_version }}</span>
            </div>
            <div class="form-group mt--3">
                <label>接口版本 :</label>
                <span type="text" class="text-faded">{{ data.interface_version }}</span>
            </div>
            <div class="form-group mt--3">
                <label>是否激活 :</label>
                <span type="text" class="text-faded">{{ data.is_active }} </span>
            </div>
            <div class="form-group mt--3">
                <label>提供管道 :</label>
                <span type="text" class="text-faded">{{ data.has_pipeline }}</span>
            </div>
        </div>

    </div>
    <div class="container col-12">
        <hr/>
        <div class="form-group mt-3">
             <label>配置（点击设置进行编辑）</label>
            <button type="button" class="btn btn-sm btn-outline-dark float-right" onclick="export_mod_config('{{ data.id }}');">导出配置</button>
            <button type="button" class="btn btn-sm btn-outline-dark float-right mr-2" data-toggle="modal" data-target="#modal_input_config">导入配置</button>
        </div>
        <div class="form-group mt-3">

            <table id="datatable_db_list" class="table display table-bordered table-striped table-hover mt-4" width="100%"
                cellspacing="0">
                <thead>
                    <tr role="row">
                        <th>部分</th>
                        <th>参数</th>
                        <th>值</th>
                        <th>必填</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id in config %}
                    <tr role="row">
                        <td>{{ id["section"] or "Main" }}</td>
                        <td><a href="#" onclick="update_param({{ data.id }}, '{{ data.id }}##{{ id['param_name'] }}');">
                            {% if (id['param_name'] in missing_params) %}
                              <i class="fa-solid fa-triangle-exclamation text-danger" title="未设置必填参数"></i>
                            {% endif %}
                            {{ id["param_human_name"] }}
                        </a></td>
                        <td>{% if id["value"] is not none %}{% if id["type"] != "sensitive_string" %} {% if id["value"] is string %}{{ id["value"][0:20] }}{% else %}{{id["value"]}}{% endif %} {% else %} *************** {% endif %}{% endif %}</td>
                        <td>{{ id["mandatory"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger mr-auto" onclick="remove_module('{{ data.id }}');">移除模块</button>
    {% if is_configured and not data.is_active %}
    <button type="button" class="btn btn-outline-success" onclick="enable_module('{{ data.id }}');">启用模块</button>
    {% elif is_configured and data.is_active %}
    <button type="button" class="btn btn-outline-warning" onclick="disable_module('{{ data.id }}');">禁用模块</button>
    {% endif %}
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</div>

<div class="modal bg-shadow-gradient" tabindex="-1" role="dialog" id="modal_input_config" data-backdrop="true">
    <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5>从文件导入模块配置</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <p>选择要上传的配置文件。该模块的现有配置将被覆盖。</p>
                    <label class="placeholder">配置文件 : </label>
                    <input id="input_configuration_file" type="file" accept="text/json">
                    <button type="button" class="btn  btn-outline-success float-right mr-2" onclick="import_mod_config('{{ data.id }}');">导入</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script>
$(document).ready(function(){
    $("#datatable_db_list").DataTable({
        filter: true,
        order: [[0, 'asc']],
        rowGroup: {
            dataSrc: 0
        }
    });
});
</script>
