<div class="modal-header">
        <h4 class="modal-title mt-1">属性预览
        </h4>
            {% include 'modals/modal_attributes_nav.html' %}
        <div class="row text-right">
            <button type="button" class="pull-right btn btn-white" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true"><i class="fa fa-times"></i></span></button>
        </div>
</div>
<div class="modal-body">
    <div role="tabpanel">
          <div class="tab-content">
              <div class="tab-pane active text-center" id="details">
                  <h2>基本对象信息</h2>
                  <b>此处仅供预览。这里将显示标准对象信息.</b><br/>
                  别在意背景，这也是为了预览.
              </div>

              {% include 'modals/modal_attributes_tabs.html' %}
          </div>
    </div>
</div>
