<div class="modal-header">
    <h4>删除案例模板</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

    <div class="container col-md-12">
        <form method="post" action="" id="form_upload_case_template">

          <div class="modal-content">
            <div class="modal-body">
                <div class="accordion accordion-primary">
                        <p>案例模板允许预填案例对象，如任务、标签和备注.<br/>
                            它可用于添加程序，定义如何应对特定类型的事件（网络钓鱼、勒索软件、APT......）.</p>
                        <div class="alert-std alert-warning" role="alert">
                             案例模板可以 JSON 文件形式上传，也可以在添加/编辑案例模板用户界面中添加和编辑.<br/>
                        </div>
                        <label class="placeholder">JSON File format example</label>
                        <div class="card">
                            <div class="card-header collapsed" id="drop_up_case_template_taxonomy" data-toggle="collapse" data-target="#drop_up_tax_case_template" aria-expanded="false" aria-controls="drop_up_tax_attr" role="button">
                                <div class="span-icon">
                                    <div class="flaticon-pencil"></div>
                                </div>
                                <div class="span-title">
                                    案例模板分类
                                </div>
                                <div class="span-mode"></div>
                            </div>

                            <div id="drop_up_tax_case_template" class="collapse" aria-labelledby="drop_up_tax_case_template" style="">
                                <div class="card-body">
                                    案例模板的定义如下.
                                    <pre>

{
    "name": "ransomware_infection",
    "display_name": "勒索病毒感染模板",
    "description": "本案例模板描述了处理受到勒索软件攻击的信息系统的第一反应任务.",
    "author": "DFIR-IRIS",
    "title_prefix": "RANS",
    "summary": "# Context \n\n\n # Contact \n\n\n # Actions \n\n\n",
    "tags": ["ransomware","malware"],
    "tasks": [
        {
            "title": "识别边界",
            "description": "必须确定入侵范围",
            "tags": ["identify"]
        },
        {
            "title": "收集被入侵的主机",
            "description": "部署Velociraptor并开始收集证据",
            "tags": ["collect", "velociraptor"]
        },
        {
            "title": "包含"
        }
    ],
    "note_directories": [
        {
            "title": "识别",
            "notes": [
                {
                    "title": "识别被入侵的账户",
                    "content": "# 观察\n\n"
                }
            ]
        },
        {
            "title": "收集",
            "notes": [
                {
                    "title": "Velociraptor部署"
                },
                {
                    "title": "资产已收集",
                    "content": "# 资产已收集\n\n# 资产未收集"
                }
            ]
        }
    ]
}
                                </pre>

                                <h4>字段类型</h4>
                                支持的字段类型有:
                                <ul>
                                    <li>name: 案例模板名称（必填）.</li>
                                    <li>display_name: 案例模板的显示名称.</li>
                                    <li>description: 案例模板说明.</li>
                                    <li>author: 案例模板的作者（与当前用户无关）.</li>
                                    <li>title_prefix: 为案例标题添加前缀.</li>
                                    <li>summary: 填充摘要的内容.</li>
                                    <li>tags: 案例标签列表.</li>
                                    <li>tasks: 定义任务的字典列表。任务由标题（必填）、描述和标记列表定义。</li>
                                    <li>note_groups: 定义备注组的词典列表。备注组由标题（必填）和注释列表定义。备注有标题（必填）和内容</li>
                                </ul>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="form-group">
                      <label class="placeholder">选择要导入的 JSON 文件 : </label>
                      <input id="input_upload_case_template" type="file" accept="text/json">
                </div>
            </div>
            <div class='invalid-feedback' id='ctempl-invalid-msg'></div>
          </div><!-- /.modal-content -->
        </form>
    </div>
    <div class="alert alert-warning" style="display:none;" role="alert" id="alert_upload_case_template_details">
        <span id="alert_upload_case_template"></span><br/>
        <b>日志:</b>
        <ul id="upload_case_template_err_details_list">
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-success" onclick="upload_case_template();">上传</button>
</div>

