<div class="modal-header">
    {% if case_template.id %}
    <h4>修改案例模板 {{ case_template.display_name }}</h4>
    {% else %}
    <h4>添加案例模板</h4>
    {% endif %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

        <div class="container col-md-12">
        <form method="post" action="" id="form_new_case_template" enctype="multipart/form-data">
            <div class="row">
                <div class="col-6">
                    <div class="accordion accordion-primary">
                        {% if case_template.id %}
                        <h2>{{ case_template.display_name }} 模板</h2>
                        {% else %}
                        <h2>新模板</h2>
                        {% endif %}
                        <p>案例模板允许预填案例对象，如任务、标签和备注.<br/>
                            它可用于添加程序，定义如何应对特定类型的事件（网络钓鱼、勒索软件、APT...）</p>
                        <div class="alert-std alert-warning" role="alert">
                             案例模板可以在此用户界面中添加和编辑，也可以作为 JSON 文件上传.<br/>
                            <p>IRIS 将尝试在提交之前验证案例模板的内容.</p>
                        </div>

                        <div class="card">
                            <div class="card-header collapsed" id="drop_case_template_taxonomy" data-toggle="collapse" data-target="#drop_tax_case_template" aria-expanded="false" aria-controls="drop_tax_attr" role="button">
                                <div class="span-icon">
                                    <div class="flaticon-pencil"></div>
                                </div>
                                <div class="span-title">
                                    案例模板分类
                                </div>
                                <div class="span-mode"></div>
                            </div>
                            <div id="drop_tax_case_template" class="collapse" aria-labelledby="drop_tax_case_template" style="">
                                <div class="card-body">
                                    <h4>字段类型</h4>
                                    支持的字段类型有:
                                    <ul>
                                        <li>name: 案例模板名称（必填）.</li>
                                        <li>display_name: 案例模板的显示名称.</li>
                                        <li>description: 案例模板描述.</li>
                                        <li>author: 案例模板的作者（与当前用户无关）.</li>
                                        <li>classification: 案例模板的分类。应为小写名称，与 IRIS 现有分类相匹配.</li>
                                        <li>title_prefix: 为案例标题添加前缀.</li>
                                        <li>summary: 使用内容来预填摘要。</li>
                                        <li>tags: 案例标签列表.</li>
                                        <li>tasks: 定义任务的字典列表。任务由标题（必填）、描述和标记列表定义.</li>
                                        <li>note_directories: 定义注释目录的词典列表。注释目录由标题（必填）和注释列表定义。注释有标题（必填）和内容</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-4">
                            <div class="card-header collapsed" id="drop__template_example" data-toggle="collapse" data-target="#drop_case_template_example" aria-expanded="false" aria-controls="drop_tax_attr" role="button">
                                <div class="span-icon">
                                    <div class="flaticon-pencil"></div>
                                </div>
                                <div class="span-title">
                                    案例模板示例
                                </div>
                                <div class="span-mode"></div>
                            </div>
                            <div id="drop_case_template_example" class="collapse" aria-labelledby="drop_tax_case_template" style="">
                                <div class="card-body">
                                    案例模板的定义如下.
                                    <pre>

{
    "name": "ransomware_infection",
    "display_name": "勒索软件感染模板",
    "description": "本案例模板介绍了处理受勒索软件入侵的信息系统的第一反应任务.",
    "author": "DFIR-IRIS",
    "classification": "恶意代码:勒索软件",
    "title_prefix": "[RANS]",
    "summary": "# 内容 \n\n\n# 联系方式 \n\n\n# 动作 \n\n\n",
    "tags": ["勒索软件","恶意软件"],
    "tasks": [
        {
            "title": "识别范围",
            "description": "必须确定入侵范围",
            "tags": ["识别"]
        },
        {
            "title": "收集被入侵主机",
            "description": "部署Velociraptor并开始收集证据",
            "tags": ["收集", "velociraptor"]
        },
        {
            "title": "遏制"
        }
    ],
    "note_directories": [
        {
            "title": "识别",
            "notes": [
                {
                    "title": "识别被入侵的账户",
                    "content": "# 观察\n\n"
                }
            ]
        },
        {
            "title": "收集",
            "notes": [
                {
                    "title": "Velociraptor部署"
                },
                {
                    "title": "资产已收集",
                    "content": "# 资产已收集\n\n# 资产未收集"
                }
            ]
        }
    ]
}
                                    </pre>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <div class="row">
                            <label for="editor_detail" class="mr-4">案例模板定义
                            </label><button type="button" class="btn btn-sm ml-auto" onclick="downloadCaseTemplateDefinition();">下载定义</button>
                        </div>
                        <div id="editor_detail">{{ form.case_template_json.data|tojsonsafe }}</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="alert alert-warning" style="display:none;" role="alert" id="alert_case_template_details">
        <span id="alert_case_template_edit"></span><br/>
        <b>日志:</b>
        <ul id="case_template_err_details_list">
        </ul>
    </div>
</div>
<div class="modal-footer">
    {% if case_template.id %}
    <button
            type="button"
            class="btn btn-outline-danger mr-auto"
             id="submit_delete_case_template"
    >
        删除
    </button>
    <button
            type="button"
            class="btn btn-outline-success ml-4 float-right"
            id="submit_new_case_template"
    >
        更新
    </button>

    {% else %}

    <button
            type="button"
            class="btn btn-outline-success ml-4 float-right"
            id="submit_new_case_template"
    >
        保存
    </button>

    {% endif %}
</div>

