<div class="modal-header">
    <h4>修改属性 {{ attribute.attribute_display_name }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

        <div class="container col-md-12">
        <form method="post" action="" id="form_new_attribute" enctype="multipart/form-data">
            <div class="row">
                <div class="col-6">
                    <div class="accordion accordion-primary">
                        <h2>{{ attribute.attribute_display_name }} 属性</h2>
                        <p>当新增或修改时属性允许扩展字段以用于分析 {{ attribute.attribute_display_name }}.</p>
                        <div class="alert-std alert-warning" role="alert">
                             属性可由管理员在此用户界面中添加，也可由模块推送.<br/>
                             这意味着每个{{ attribute.attribute_display_name }}对象都可能有一组不同的属性.
                             在此更新默认对象将导致更新每个现有对象，这可能会耗费大量时间。
                            <p>在此输入错误的属性可能会导致用户界面中断。IRIS 将尝试在提交前验证属性的分类。</p>
                            <b>为避免这种情况，请在保存前使用预览按钮. 它会1比1显示属性</b>
                        </div>

                        <div class="card">
                            <div class="card-header collapsed" id="drop_attr_description" data-toggle="collapse" data-target="#drop_attr_desc" aria-expanded="false" aria-controls="drop_attr_desc" role="button">
                                <div class="span-icon">
                                    <div class="flaticon-tea-cup"></div>
                                </div>
                                <div class="span-title">
                                    更多细节
                                </div>
                                <div class="span-mode"></div>
                            </div>

                            <div id="drop_attr_desc" class="collapse" aria-labelledby="drop_tax_attr" style="">
                                <div class="card-body">
                                    <p>这些属性以JSON结构的形式存储在每个 {{ attribute.attribute_display_name }} 对象中.</p>
                                    <p>本页中的属性代表每个新 {{ attribute.attribute_display_name }} 对象的默认属性.  如果现有对象不包含指定属性，则对其进行更新. <b>不删除其他现有属性.</b></p>
                                    属性有以下用途:
                                    <ul>
                                        <li><b>输入</b>: 为分析人员提供填写其他详细信息的可能性。支持多种类型的输入。更多详情，请参阅分类法</li>
                                        <li><b>原始</b>: 以原始文本呈现的静态内容。不解析HTML.</li>
                                        <li><b>HTML</b>: 以 HTML 呈现的静态内容，蕴含无限可能. <b>小心，这本质上容易造成漏洞.</b></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header collapsed" id="drop_attr_taxonomy" data-toggle="collapse" data-target="#drop_tax_attr" aria-expanded="false" aria-controls="drop_tax_attr" role="button">
                                <div class="span-icon">
                                    <div class="flaticon-pencil"></div>
                                </div>
                                <div class="span-title">
                                    属性分类法
                                </div>
                                <div class="span-mode"></div>
                            </div>

                            <div id="drop_tax_attr" class="collapse" aria-labelledby="drop_tax_attr" style="">
                                <div class="card-body">
                                    属性定义如下.
                                    <pre>
{
    "Tab Name 1": {                     // 在 {{ attribute.attribute_display_name }} 模式面板中定义一个新标签页
        "Field 1": {                    // 在选项卡名称 1 中定义新字段
            "type": "input_string",     // 定义字段类型，这里是标准字符串输入
            "mandatory": true,          // 表示保存时该字段是否为必填字段
            "value": ""                 // 默认值（如有），否则为空
        },
        "Field 2": {                    // 在选项卡中定义第二个字段 选项卡名称 1
            "type": "input_checkbox",   // 定义输入复选框
            "mandatory": false,         // 表示保存时该字段是否为必填字段
            "value": true               // 默认值
        }
    },
    "VT report": {                      // 定义名为 VT 报告的第二个选项卡
        "Content": {                    // 在 VT 报告中定义一个新字段内容
            "type": "html",             // 定义 HTML 解释内容
            "value": ""                 // 默认值（如有），否则为空
        }
    }
}
                                    </pre>

                                    <h4>字段类型</h4>
                                    支持的字段类型有:
                                    <ul>
                                        <li>input_string: 标准输入文本</li>
                                        <li>input_textfield: 标准输入文本框</li>
                                        <li>input_checkbox: 标准复选框</li>
                                        <li>input_date: 标准日期输入</li>
                                        <li>input_datetime: 标准日期和时间输入</li>
                                        <li>input_select: 标准选择输入。需要 "选项 "标签来描述可用选项</li>
                                        <li>raw: 以原始文本呈现的静态内容。不解析 HTML.</li>
                                        <li>html: 呈现为 HTML 的静态内容. <b>小心，这本质上容易造成漏洞.</b></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header collapsed" id="drop_attr_over" data-toggle="collapse" data-target="#drop_attr_overwrite" aria-expanded="false" aria-controls="drop_attr_overwrite" role="button">
                                <div class="span-icon">
                                    <div class="flaticon-exclamation"></div>
                                </div>
                                <div class="span-title">
                                    覆盖功能
                                </div>
                                <div class="span-mode"></div>
                            </div>

                            <div id="drop_attr_overwrite" class="collapse" aria-labelledby="drop_tax_attr" style="">
                                <div class="card-body">
                                    <p>更改属性中的字段类型可能会导致类型不兼容，现有对象无法迁移.</p>
                                    <p>出现这种情况时，IRIS 将不更新这些对象的字段，让它们保持原样，以防止数据丢失.</p>
                                    <p>不过，可以通过使用<kbd>完全覆盖</kbd>和<kbd>部分覆盖</kbd>按钮来更改这种行为.</p>

                                    <p><kbd>部分覆盖</kbd>基本上是重置每个 {{ attribute.attribute_display_name }} 对象中与当前对象匹配的属性值，然后应用当前属性.
                                        所有相关值都会丢失.这不会影响模块推送的属性。.</p>
                                    <p><kbd>完全覆盖</kbd> 重置每个 {{ attribute.attribute_display_name }} 对象（包括模块创建的对象）的所有属性，然后应用当前属性.
                                        所有相关值都将丢失.</p>

                                    <b>无论如何, {{ attribute.attribute_display_name }} 对象的原生值都不会被修改.这只涉及自定义属性..</b>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="Attribute content" class="mr-4">属性定义
                        </label>
                        <div id="editor_detail">{{ attribute.attribute_content|tojsonsafe }}</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="alert alert-warning" style="display:none;" role="alert" id="alert_attributes_details">
        <span id="alert_attributes_edit"></span><br/>
        <b>Logs:</b>
        <ul id="attributes_err_details_list">
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger float-right" id="submit_complete_overwrite">完全覆盖</button>
    <button type="button" class="btn btn-outline-danger mr-auto" id="submit_partial_overwrite">部分覆盖</button>
    <button type="button" class="btn btn-outline-black float-right" id="preview_attribute">预览</button>
    <button type="button" class="btn btn-outline-success float-right" id="submit_new_attribute">更新</button>
</div>
