<div class="modal-xl modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title mt-1 mr-4">数据存储筛选帮助</h4>
            <button type="button" class="float-right btn bg-transparent" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true"><i class="fa fa-times"></i></span></button>
        </div>
        <div class="modal-body mb-2">
            <div class="row">
                <div class="col-12">
                    <p>通过简单的查询就可以过滤文件.查询模式为 :  <code>target_element:search_value AND target_element2:search_value2</code>.<br/>
                    没有 <code>OR</code> 条件，不带目标的搜索不起作用。
                    <p>可使用以下目标元素进行筛选:</p>
                    <ul>
                        <li><code>名称</code>: 文件名称</li>
                        <li><code>id</code>: 文件ID</li>
                        <li><code>uuid</code>: 文件UUID</li>
                        <li><code>存储名称</code>:FS上文件名称</li>
                        <li><code>标签</code>: 文件标签</li>
                        <li><code>描述</code>: 文件描述</li>
                        <li><code>是否是ioc</code> : 设置为任意值可筛选IOC文件</li>
                        <li><code>是否是证据</code>: 设置为任意值，以筛选证据文件</li>
                        <li><code>是否有密码</code>: 设置为任意值可筛选有密码的文件</li>
                        <li><code>sha256</code>: 用SHA256筛选文件</li>
                    </ul>
                    筛选示例 :
                    <code>name: .exe AND is_ioc: true</code>
                </div>
            </div>
        </div>
    </div>
</div>
